            </section>
            <footer class="layui-footer layui-bg-green">
                <p>© 2018 07</p>
            </footer>
        </section>
    </body>
    <script type="text/javascript" src="layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function(){
          var element = layui.element;
        });
    </script>
